.fumaca-roxa-e-azul-em-preto-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.inicio3 {
  position: relative;
}
.inicio3,
.span3 {
  font-weight: 500;
}
.participe-do-projeto-container3 {
  position: relative;
}
.menu3 {
  position: absolute;
  top: 80px;
  left: 557px;
  width: 741px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-5xl);
  font-family: var(--font-palanquin-dark);
}
.frame-child1 {
  position: relative;
  width: 288px;
  height: 1px;
}
.frame8 {
  align-self: stretch;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.sempre-investindo-em3 {
  margin: 0;
}
.sempre-investindo-em-container3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  text-align: left;
}
.card-23 {
  position: absolute;
  top: 857px;
  left: 972px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) var(--padding-lgi) var(--padding-54xl)
    var(--padding-35xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  font-size: var(--font-size-17xl);
}
.card-1-child1,
.melhor-escolha3 {
  align-self: stretch;
  position: relative;
}
.card-1-child1 {
  max-width: 100%;
  overflow: hidden;
  height: 2.38px;
  flex-shrink: 0;
}
.mais-de-500-container3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-13 {
  position: absolute;
  top: 857px;
  left: 557px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) var(--padding-24xl) var(--padding-54xl)
    var(--padding-44xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-17xl);
}
.pesquisar-e-login3 {
  position: absolute;
  top: 80px;
  left: 1450px;
  width: 330px;
  height: 40px;
}
.servio3 {
  position: absolute;
  top: 73px;
  left: 62px;
}
.comprometimento-e-gesto-container3 {
  position: absolute;
  top: 145px;
  left: 53px;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-3-child1,
.card-33 {
  position: absolute;
  top: 130.63px;
  left: 54px;
  width: 288px;
  height: 2.37px;
}
.card-33 {
  top: 857px;
  left: 1387px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 307px;
  font-size: var(--font-size-17xl);
}
.subtract-icon3 {
  position: relative;
  width: 40px;
  height: 40px;
}
.farma-express3 {
  position: relative;
  font-weight: 800;
}
.logo3 {
  position: absolute;
  top: 79px;
  left: 140px;
  width: 306px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-16xl);
}
.personagem-icon3 {
  position: absolute;
  top: 0;
  left: 557px;
  width: 1972px;
  height: 1109px;
}
.card-4-child2,
.card-4-child3,
.card-4-child4,
.card-4-child5,
.card-4-child6 {
  position: absolute;
  top: 221px;
  left: 0;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-gainsboro-100);
  width: 57px;
  height: 40px;
}
.card-4-child3,
.card-4-child4,
.card-4-child5,
.card-4-child6 {
  top: 161px;
  width: 40px;
  cursor: pointer;
}
.card-4-child4,
.card-4-child5,
.card-4-child6 {
  top: 281px;
}
.card-4-child5,
.card-4-child6 {
  top: 341px;
}
.card-4-child6 {
  top: 401px;
  width: 41px;
}
.remdios-para-olhos {
  position: absolute;
  top: 73px;
  left: 35px;
}
.vector-icon19,
.vector-icon20 {
  position: absolute;
  height: 5.16%;
  width: 6.08%;
  top: 36.34%;
  right: 77.47%;
  bottom: 58.49%;
  left: 16.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon20 {
  height: 4.3%;
  width: 4.38%;
  top: 36.77%;
  right: 93.09%;
  bottom: 58.92%;
  left: 2.53%;
}
.card-4-child7 {
  position: absolute;
  top: 130.63px;
  left: 64px;
  width: 288px;
  height: 2.37px;
}
.group-icon2,
.vector-icon21 {
  position: absolute;
  height: 4.3%;
  width: 5.57%;
  top: 49.68%;
  right: 90.63%;
  bottom: 46.02%;
  left: 3.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon2 {
  height: 5.16%;
  width: 6.08%;
  top: 75.05%;
  right: 92.66%;
  bottom: 19.78%;
  left: 1.27%;
}
.mingcutenose-line1,
.vector-icon22 {
  position: absolute;
  top: 292px;
  left: 17px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.vector-icon22 {
  height: 5.38%;
  width: 5.06%;
  top: 87.96%;
  right: 92.15%;
  bottom: 6.67%;
  left: 2.78%;
  max-width: 100%;
  max-height: 100%;
}
.card-41 {
  position: absolute;
  top: 273px;
  left: 814px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-200);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 465px;
  font-size: var(--font-size-13xl);
}
.group-icon3 {
  position: absolute;
  height: 2.22%;
  width: 1.25%;
  top: 52.31%;
  right: 56.09%;
  bottom: 45.46%;
  left: 42.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cabea-olho-child,
.cabea-olho-child1,
.cabea-olho-child2,
.cabea-olho-inner,
.cabea-olho-item {
  position: absolute;
  top: 484px;
  left: 894px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-300);
  box-shadow: 12px 4px 53px rgba(0, 0, 0, 0.25);
  width: 256px;
  height: 40px;
}
.cabea-olho-child1,
.cabea-olho-child2,
.cabea-olho-inner,
.cabea-olho-item {
  top: 546px;
}
.cabea-olho-child1,
.cabea-olho-child2,
.cabea-olho-inner {
  top: 608px;
}
.cabea-olho-child1,
.cabea-olho-child2 {
  top: 670px;
}
.cabea-olho-child2 {
  top: 422px;
}
.forever-liss,
.holistix,
.hopper,
.use-orgnico,
.vollo {
  position: absolute;
  top: 427px;
  left: 928px;
  font-weight: 500;
  display: inline-block;
  width: 197px;
  height: 30px;
}
.forever-liss,
.hopper,
.use-orgnico,
.vollo {
  top: 489px;
}
.hopper,
.use-orgnico,
.vollo {
  top: 551px;
}
.use-orgnico,
.vollo {
  top: 613px;
}
.use-orgnico {
  top: 675px;
}
.vector-icon23,
.vector-icon24,
.vector-icon25,
.vector-icon26,
.vector-icon27 {
  position: absolute;
  height: 2.22%;
  width: 1.25%;
  top: 39.81%;
  right: 51.04%;
  bottom: 57.96%;
  left: 47.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon24,
.vector-icon25,
.vector-icon26,
.vector-icon27 {
  top: 45.46%;
  bottom: 52.31%;
}
.vector-icon25,
.vector-icon26,
.vector-icon27 {
  top: 51.11%;
  bottom: 46.67%;
}
.vector-icon26,
.vector-icon27 {
  top: 56.76%;
  bottom: 41.02%;
}
.vector-icon27 {
  top: 62.41%;
  bottom: 35.37%;
}
.vector-icon28,
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32,
.vector-icon33 {
  position: absolute;
  height: 1.11%;
  width: 0.62%;
  top: 40.37%;
  right: 41.09%;
  bottom: 58.52%;
  left: 58.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32,
.vector-icon33 {
  top: 46.11%;
  bottom: 52.78%;
}
.vector-icon30,
.vector-icon31,
.vector-icon32,
.vector-icon33 {
  top: 51.85%;
  bottom: 47.04%;
}
.vector-icon31,
.vector-icon32,
.vector-icon33 {
  top: 57.59%;
  bottom: 41.29%;
}
.vector-icon32,
.vector-icon33 {
  top: 63.34%;
  bottom: 35.55%;
}
.vector-icon33 {
  height: 2.27%;
  width: 1.28%;
  top: 22.87%;
  right: 11.54%;
  bottom: 74.86%;
  left: 87.19%;
  cursor: pointer;
}
.o-que-est3 {
  align-self: stretch;
  position: relative;
  font-weight: 800;
}
.remdios7,
.selecione-onde-fica3 {
  position: relative;
  font-weight: 600;
}
.selecione-onde-fica3 {
  align-self: stretch;
  font-size: var(--font-size-4xl);
}
.remdios7 {
  display: inline-block;
  width: 104px;
  height: 31px;
  flex-shrink: 0;
}
.corpo-texto3,
.frame9 {
  display: flex;
  flex-direction: column;
}
.frame9 {
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  width: 257px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-56xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
}
.corpo-texto3 {
  position: absolute;
  top: 235px;
  left: 140px;
  width: 533px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  text-align: left;
  font-size: var(--font-size-73xl);
}
.cabea-olho {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
