.fumaca-roxa-e-azul-em-preto-1-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.inicio12,
.remdios24,
.sobre-ns12 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.remdios24,
.sobre-ns12 {
  left: 82px;
}
.sobre-ns12 {
  left: 213px;
}
.depoimentos12 {
  position: absolute;
  top: 0;
  left: 343px;
}
.depoimentos12,
.span12 {
  font-weight: 500;
}
.menu12,
.participe-do-projeto-container12 {
  position: absolute;
  top: 0;
  left: 513px;
}
.menu12 {
  top: 80px;
  left: 557px;
  width: 741px;
  height: 43px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-palanquin-dark);
}
.corpo-texto-inner {
  position: absolute;
  top: 448px;
  left: 0;
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  width: 257px;
  height: 60px;
}
.o-que-est12,
.remdios25,
.selecione-onde-fica12 {
  position: absolute;
  top: 340px;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 533px;
  height: 67px;
}
.o-que-est12,
.remdios25 {
  top: 0;
  font-size: var(--font-size-73xl);
  font-weight: 800;
  height: 198px;
}
.remdios25 {
  top: 465px;
  left: 78px;
  font-size: var(--font-size-2xl);
  font-weight: 600;
  color: var(--color-black);
  width: 104px;
  height: 31px;
}
.corpo-texto12 {
  position: absolute;
  top: 235px;
  left: 140px;
  width: 533px;
  height: 508px;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.qualidade12 {
  position: absolute;
  top: 73px;
  left: 57px;
}
.sempre-investindo-em12 {
  margin: 0;
}
.sempre-investindo-em-container12 {
  position: absolute;
  top: 147px;
  left: 57px;
  font-size: var(--font-size-lg);
  text-align: left;
  display: inline-block;
  width: 319px;
}
.card-2-child4,
.card-212 {
  position: absolute;
  top: 130.63px;
  left: 54px;
  width: 288px;
  height: 2.37px;
}
.card-212 {
  top: 857px;
  left: 972px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 307px;
  font-size: var(--font-size-17xl);
}
.mais-de-500-container12,
.melhor-escolha12 {
  position: absolute;
  top: 73px;
  left: 63px;
}
.mais-de-500-container12 {
  top: 148px;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-1-child10,
.card-112 {
  position: absolute;
  top: 130.63px;
  left: 64px;
  width: 288px;
  height: 2.37px;
}
.card-112 {
  top: 857px;
  left: 557px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 307px;
  font-size: var(--font-size-17xl);
}
.pesquisar-e-login12 {
  position: absolute;
  top: 80px;
  left: 1450px;
  width: 330px;
  height: 40px;
}
.servio12 {
  position: absolute;
  top: 73px;
  left: 62px;
}
.comprometimento-e-gesto-container12 {
  position: absolute;
  top: 145px;
  left: 53px;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-312 {
  position: absolute;
  top: 857px;
  left: 1387px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 307px;
  font-size: var(--font-size-17xl);
}
.farma-express12 {
  position: absolute;
  top: 0;
  left: 50px;
  font-weight: 800;
}
.subtract-icon12 {
  position: relative;
  width: 40px;
  height: 40px;
}
.logo12 {
  position: absolute;
  top: 79px;
  left: 140px;
  width: 306px;
  height: 42px;
  font-size: var(--font-size-16xl);
}
.personagem-icon12 {
  position: absolute;
  top: 0;
  left: 557px;
  width: 1972px;
  height: 1109px;
}
.card-4-child16 {
  top: 221px;
  width: 40px;
  cursor: pointer;
}
.card-4-child16,
.card-4-child17,
.card-4-child18,
.card-4-child19,
.card-4-child20 {
  position: absolute;
  left: 0;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-gainsboro-100);
  height: 40px;
}
.card-4-child17 {
  top: 161px;
  width: 40px;
  cursor: pointer;
}
.card-4-child18,
.card-4-child19,
.card-4-child20 {
  top: 281px;
  width: 57px;
}
.card-4-child19,
.card-4-child20 {
  top: 341px;
  width: 40px;
  cursor: pointer;
}
.card-4-child20 {
  top: 401px;
  width: 41px;
}
.remdios-para-nariz,
.vector-icon70 {
  position: absolute;
  top: 73px;
  left: 39px;
}
.vector-icon70 {
  height: 5.16%;
  width: 6.08%;
  top: 36.34%;
  right: 77.47%;
  bottom: 58.49%;
  left: 16.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon8,
.vector-icon71,
.vector-icon72,
.vector-icon73,
.vector-icon74 {
  position: absolute;
  height: 4.3%;
  width: 4.38%;
  top: 36.77%;
  right: 93.09%;
  bottom: 58.92%;
  left: 2.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon8,
.vector-icon72,
.vector-icon73,
.vector-icon74 {
  width: 5.57%;
  top: 49.68%;
  right: 92.15%;
  bottom: 46.02%;
  left: 2.28%;
}
.group-icon8,
.vector-icon73,
.vector-icon74 {
  height: 5.16%;
  width: 6.08%;
  top: 75.05%;
  right: 91.65%;
  bottom: 19.78%;
}
.vector-icon73,
.vector-icon74 {
  height: 5.38%;
  width: 5.06%;
  top: 87.96%;
  right: 92.15%;
  bottom: 6.67%;
  left: 2.78%;
}
.vector-icon74 {
  height: 3.87%;
  width: 4.56%;
  top: 63.01%;
  right: 90.89%;
  bottom: 33.12%;
  left: 4.56%;
}
.card-45 {
  position: absolute;
  top: 273px;
  left: 814px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-200);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 465px;
  font-size: var(--font-size-13xl);
}
.cabea-nariz-child,
.cabea-nariz-child1,
.cabea-nariz-child2,
.cabea-nariz-inner,
.cabea-nariz-item {
  position: absolute;
  top: 484px;
  left: 894px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-300);
  box-shadow: 12px 4px 53px rgba(0, 0, 0, 0.25);
  width: 256px;
  height: 40px;
}
.cabea-nariz-child1,
.cabea-nariz-child2,
.cabea-nariz-inner,
.cabea-nariz-item {
  top: 546px;
}
.cabea-nariz-child1,
.cabea-nariz-child2,
.cabea-nariz-inner {
  top: 608px;
}
.cabea-nariz-child1,
.cabea-nariz-child2 {
  top: 670px;
}
.cabea-nariz-child2 {
  top: 422px;
}
.aspirina1,
.dipirona1,
.ibuprofeno1,
.paracetamol2,
.triptanos1 {
  position: absolute;
  top: 427px;
  left: 928px;
  font-weight: 500;
  display: inline-block;
  width: 197px;
  height: 30px;
}
.aspirina1,
.dipirona1,
.ibuprofeno1,
.triptanos1 {
  top: 489px;
}
.aspirina1,
.ibuprofeno1,
.triptanos1 {
  top: 551px;
}
.aspirina1,
.triptanos1 {
  top: 613px;
}
.triptanos1 {
  top: 675px;
}
.vector-icon75,
.vector-icon76,
.vector-icon77,
.vector-icon78,
.vector-icon79 {
  position: absolute;
  height: 2.22%;
  width: 1.25%;
  top: 39.81%;
  right: 51.04%;
  bottom: 57.96%;
  left: 47.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon76,
.vector-icon77,
.vector-icon78,
.vector-icon79 {
  top: 45.46%;
  bottom: 52.31%;
}
.vector-icon77,
.vector-icon78,
.vector-icon79 {
  top: 51.11%;
  bottom: 46.67%;
}
.vector-icon78,
.vector-icon79 {
  top: 56.76%;
  bottom: 41.02%;
}
.vector-icon79 {
  top: 62.41%;
  bottom: 35.37%;
}
.vector-icon80,
.vector-icon81,
.vector-icon82,
.vector-icon83,
.vector-icon84,
.vector-icon85 {
  position: absolute;
  height: 1.11%;
  width: 0.62%;
  top: 40.37%;
  right: 41.09%;
  bottom: 58.52%;
  left: 58.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon81,
.vector-icon82,
.vector-icon83,
.vector-icon84,
.vector-icon85 {
  top: 46.11%;
  bottom: 52.78%;
}
.vector-icon82,
.vector-icon83,
.vector-icon84,
.vector-icon85 {
  top: 51.85%;
  bottom: 47.04%;
}
.vector-icon83,
.vector-icon84,
.vector-icon85 {
  top: 57.59%;
  bottom: 41.29%;
}
.vector-icon84,
.vector-icon85 {
  top: 63.34%;
  bottom: 35.55%;
}
.vector-icon85 {
  height: 2.27%;
  width: 1.28%;
  top: 22.87%;
  right: 11.54%;
  bottom: 74.86%;
  left: 87.19%;
  cursor: pointer;
}
.cabea-nariz {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
