.fumaca-roxa-e-azul-em-preto-1-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.inicio4,
.remdios8,
.sobre-ns4 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.remdios8,
.sobre-ns4 {
  left: 82px;
}
.sobre-ns4 {
  left: 213px;
}
.depoimentos4 {
  position: absolute;
  top: 0;
  left: 343px;
}
.depoimentos4,
.span4 {
  font-weight: 500;
}
.menu4,
.participe-do-projeto-container4 {
  position: absolute;
  top: 0;
  left: 513px;
}
.menu4 {
  top: 80px;
  left: 557px;
  width: 741px;
  height: 43px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-palanquin-dark);
}
.sempre-investindo-em4 {
  margin: 0;
}
.sempre-investindo-em-container4 {
  position: absolute;
  top: 147px;
  left: 57px;
  display: inline-block;
  width: 319px;
}
.frame-child2 {
  position: absolute;
  top: 57.63px;
  left: 0;
  width: 288px;
  height: 2.37px;
}
.frame10,
.qualidade4 {
  position: absolute;
  top: 0;
  left: 3px;
}
.frame10 {
  top: 73px;
  left: 54px;
  width: 288px;
  height: 60px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.card-24 {
  position: absolute;
  top: 857px;
  left: 972px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 307px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.mais-de-500-container4,
.melhor-escolha4 {
  position: absolute;
  top: 73px;
  left: 63px;
}
.mais-de-500-container4 {
  top: 148px;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-1-child2,
.card-14 {
  position: absolute;
  top: 130.63px;
  left: 64px;
  width: 288px;
  height: 2.37px;
}
.card-14 {
  top: 857px;
  left: 557px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 307px;
  font-size: var(--font-size-17xl);
}
.pesquisar-e-login4 {
  position: absolute;
  top: 80px;
  left: 1450px;
  width: 330px;
  height: 40px;
}
.servio4 {
  position: absolute;
  top: 73px;
  left: 62px;
}
.comprometimento-e-gesto-container4 {
  position: absolute;
  top: 145px;
  left: 53px;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-3-child2,
.card-34 {
  position: absolute;
  top: 130.63px;
  left: 54px;
  width: 288px;
  height: 2.37px;
}
.card-34 {
  top: 857px;
  left: 1387px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 307px;
  font-size: var(--font-size-17xl);
}
.farma-express4 {
  position: absolute;
  top: 0;
  left: 50px;
  font-weight: 800;
}
.subtract-icon4 {
  position: relative;
  width: 40px;
  height: 40px;
}
.logo4 {
  position: absolute;
  top: 79px;
  left: 140px;
  width: 306px;
  height: 42px;
  font-size: var(--font-size-16xl);
}
.personagem-icon4 {
  position: absolute;
  top: 0;
  left: 557px;
  width: 1972px;
  height: 1109px;
}
.card-4-child10,
.card-4-child11,
.card-4-child12,
.card-4-child8,
.card-4-child9 {
  position: absolute;
  top: 161px;
  left: 0;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-gainsboro-100);
  width: 57px;
  height: 40px;
}
.card-4-child10,
.card-4-child11,
.card-4-child12,
.card-4-child9 {
  top: 221px;
  width: 40px;
  cursor: pointer;
}
.card-4-child10,
.card-4-child11,
.card-4-child12 {
  top: 281px;
}
.card-4-child11,
.card-4-child12 {
  top: 341px;
}
.card-4-child12 {
  top: 401px;
  width: 41px;
}
.remdios-para-cabea {
  position: absolute;
  top: 73px;
  left: 21px;
}
.group-icon4,
.vector-icon34,
.vector-icon35,
.vector-icon36 {
  position: absolute;
  height: 5.16%;
  width: 6.08%;
  top: 36.34%;
  right: 77.47%;
  bottom: 58.49%;
  left: 16.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon4,
.vector-icon35,
.vector-icon36 {
  height: 4.3%;
  width: 4.38%;
  top: 36.77%;
  right: 91.57%;
  bottom: 58.92%;
  left: 4.05%;
}
.group-icon4,
.vector-icon36 {
  width: 5.57%;
  top: 49.68%;
  right: 92.15%;
  bottom: 46.02%;
  left: 2.28%;
}
.group-icon4 {
  height: 5.16%;
  width: 6.08%;
  top: 75.05%;
  right: 91.65%;
  bottom: 19.78%;
}
.mingcutenose-line2,
.vector-icon37 {
  position: absolute;
  top: 292px;
  left: 17px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.vector-icon37 {
  height: 5.38%;
  width: 5.06%;
  top: 87.96%;
  right: 92.15%;
  bottom: 6.67%;
  left: 2.78%;
  max-width: 100%;
  max-height: 100%;
}
.card-42 {
  position: absolute;
  top: 273px;
  left: 814px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-200);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 465px;
  font-size: var(--font-size-13xl);
}
.group-icon5 {
  position: absolute;
  height: 2.22%;
  width: 1.25%;
  top: 52.31%;
  right: 56.09%;
  bottom: 45.46%;
  left: 42.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cabea-cabea-child,
.cabea-cabea-child1,
.cabea-cabea-child2,
.cabea-cabea-inner,
.cabea-cabea-item {
  position: absolute;
  top: 484px;
  left: 894px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-300);
  box-shadow: 12px 4px 53px rgba(0, 0, 0, 0.25);
  width: 256px;
  height: 40px;
}
.cabea-cabea-child1,
.cabea-cabea-child2,
.cabea-cabea-inner,
.cabea-cabea-item {
  top: 546px;
}
.cabea-cabea-child1,
.cabea-cabea-child2,
.cabea-cabea-inner {
  top: 608px;
}
.cabea-cabea-child1,
.cabea-cabea-child2 {
  top: 670px;
}
.cabea-cabea-child2 {
  top: 422px;
}
.aspirina,
.dipirona,
.ibuprofeno,
.paracetamol,
.triptanos {
  position: absolute;
  top: 427px;
  left: 928px;
  font-weight: 500;
  display: inline-block;
  width: 197px;
  height: 30px;
}
.aspirina,
.dipirona,
.ibuprofeno,
.triptanos {
  top: 489px;
}
.aspirina,
.ibuprofeno,
.triptanos {
  top: 551px;
}
.aspirina,
.triptanos {
  top: 613px;
}
.triptanos {
  top: 675px;
}
.vector-icon38,
.vector-icon39,
.vector-icon40,
.vector-icon41,
.vector-icon42 {
  position: absolute;
  height: 2.22%;
  width: 1.25%;
  top: 39.81%;
  right: 51.04%;
  bottom: 57.96%;
  left: 47.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon39,
.vector-icon40,
.vector-icon41,
.vector-icon42 {
  top: 45.46%;
  bottom: 52.31%;
}
.vector-icon40,
.vector-icon41,
.vector-icon42 {
  top: 51.11%;
  bottom: 46.67%;
}
.vector-icon41,
.vector-icon42 {
  top: 56.76%;
  bottom: 41.02%;
}
.vector-icon42 {
  top: 62.41%;
  bottom: 35.37%;
}
.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46,
.vector-icon47,
.vector-icon48 {
  position: absolute;
  height: 1.11%;
  width: 0.62%;
  top: 40.37%;
  right: 41.09%;
  bottom: 58.52%;
  left: 58.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon44,
.vector-icon45,
.vector-icon46,
.vector-icon47,
.vector-icon48 {
  top: 46.11%;
  bottom: 52.78%;
}
.vector-icon45,
.vector-icon46,
.vector-icon47,
.vector-icon48 {
  top: 51.85%;
  bottom: 47.04%;
}
.vector-icon46,
.vector-icon47,
.vector-icon48 {
  top: 57.59%;
  bottom: 41.29%;
}
.vector-icon47,
.vector-icon48 {
  top: 63.34%;
  bottom: 35.55%;
}
.vector-icon48 {
  height: 2.27%;
  width: 1.28%;
  top: 22.87%;
  right: 11.54%;
  bottom: 74.86%;
  left: 87.19%;
  cursor: pointer;
}
.selecione-onde-fica4 {
  top: 340px;
  left: 0;
  font-weight: 600;
  width: 533px;
  height: 67px;
}
.o-que-est4,
.remdios9,
.selecione-onde-fica4 {
  position: absolute;
  display: inline-block;
}
.o-que-est4 {
  top: 0;
  left: 0;
  font-size: var(--font-size-73xl);
  font-weight: 800;
  width: 533px;
  height: 198px;
}
.remdios9 {
  top: 17px;
  left: 78px;
  font-weight: 600;
  width: 104px;
  height: 31px;
}
.frame11 {
  position: absolute;
  top: 448px;
  left: 0;
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  width: 257px;
  height: 60px;
  overflow: hidden;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
}
.corpo-texto4 {
  position: absolute;
  top: 235px;
  left: 140px;
  width: 533px;
  height: 508px;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.cabea-cabea {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
