.fumaca-roxa-e-azul-em-preto-1-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.inicio7 {
  flex: 1;
  position: relative;
}
.inicio7,
.span7 {
  font-weight: 500;
}
.participe-do-projeto-container7 {
  flex: 1;
  position: relative;
}
.menu7 {
  position: absolute;
  top: 80px;
  left: 557px;
  width: 741px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-palanquin-dark);
}
.card-2-item {
  position: absolute;
  top: 130.63px;
  left: 54px;
  width: 288px;
  height: 2.37px;
}
.sempre-investindo-em7 {
  margin: 0;
}
.sempre-investindo-em-container7 {
  position: absolute;
  top: 147px;
  left: 57px;
  display: inline-block;
  width: 319px;
}
.card-27,
.qualidade7 {
  position: absolute;
  top: 73px;
  left: 57px;
  font-size: var(--font-size-17xl);
  text-align: center;
}
.card-27 {
  top: 857px;
  left: 972px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 307px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.card-1-child5,
.melhor-escolha7 {
  align-self: stretch;
  position: relative;
}
.card-1-child5 {
  max-width: 100%;
  overflow: hidden;
  height: 2.37px;
  flex-shrink: 0;
}
.mais-de-500-container7 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-17 {
  position: absolute;
  top: 857px;
  left: 557px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) 44px var(--padding-54xl) var(--padding-44xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-17xl);
}
.pesquisar-e-login7 {
  position: absolute;
  top: 80px;
  left: 1450px;
  width: 330px;
  height: 40px;
}
.servio7 {
  position: absolute;
  top: 73px;
  left: 62px;
}
.comprometimento-e-gesto-container7 {
  position: absolute;
  top: 145px;
  left: 53px;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-37 {
  position: absolute;
  top: 857px;
  left: 1387px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 307px;
  font-size: var(--font-size-17xl);
}
.subtract-icon7 {
  position: relative;
  width: 40px;
  height: 40px;
}
.farma-express7 {
  position: relative;
  font-weight: 800;
}
.logo7 {
  position: absolute;
  top: 79px;
  left: 140px;
  width: 306px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-16xl);
}
.personagem-icon7 {
  position: absolute;
  top: 0;
  left: 557px;
  width: 1972px;
  height: 1109px;
}
.group-icon7,
.vector-icon54 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon54 {
  height: 2.27%;
  width: 1.28%;
  top: 22.69%;
  right: 11.54%;
  bottom: 75.05%;
  left: 87.19%;
  cursor: pointer;
}
.group-icon7 {
  height: 2.22%;
  width: 1.25%;
  top: 52.31%;
  right: 56.09%;
  bottom: 45.46%;
  left: 42.66%;
}
.cabea-boca-child,
.cabea-boca-child1,
.cabea-boca-child2,
.cabea-boca-inner,
.cabea-boca-item {
  position: absolute;
  top: 484px;
  left: 894px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-300);
  box-shadow: 12px 4px 53px rgba(0, 0, 0, 0.25);
  width: 256px;
  height: 40px;
}
.cabea-boca-child1,
.cabea-boca-child2,
.cabea-boca-inner,
.cabea-boca-item {
  top: 546px;
}
.cabea-boca-child1,
.cabea-boca-child2,
.cabea-boca-inner {
  top: 608px;
}
.cabea-boca-child1,
.cabea-boca-child2 {
  top: 670px;
}
.cabea-boca-child2 {
  top: 422px;
}
.mud-oral,
.omcilon {
  left: 928px;
  width: 197px;
}
.omcilon {
  position: absolute;
  top: 427px;
  font-weight: 500;
  display: inline-block;
  height: 30px;
}
.mud-oral {
  top: 489px;
}
.germed,
.mud-oral,
.triancinolona,
.triancinolona-acetonida {
  position: absolute;
  font-weight: 500;
  display: inline-block;
  height: 30px;
}
.triancinolona-acetonida {
  top: 556px;
  left: 901px;
  font-size: 14px;
  white-space: pre-wrap;
  width: 265px;
}
.germed,
.triancinolona {
  top: 613px;
  left: 928px;
  width: 197px;
}
.triancinolona {
  top: 675px;
  left: 937px;
}
.vector-icon55,
.vector-icon56,
.vector-icon57 {
  position: absolute;
  height: 2.22%;
  width: 1.25%;
  top: 39.81%;
  right: 51.04%;
  bottom: 57.96%;
  left: 47.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon56,
.vector-icon57 {
  top: 45.65%;
  bottom: 52.13%;
}
.vector-icon57 {
  top: 56.76%;
  bottom: 41.02%;
}
.vector-icon58,
.vector-icon59,
.vector-icon60,
.vector-icon61,
.vector-icon62 {
  position: absolute;
  height: 1.11%;
  width: 0.62%;
  top: 40.37%;
  right: 41.09%;
  bottom: 58.52%;
  left: 58.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon59,
.vector-icon60,
.vector-icon61,
.vector-icon62 {
  top: 46.11%;
  bottom: 52.78%;
}
.vector-icon60,
.vector-icon61,
.vector-icon62 {
  top: 51.85%;
  bottom: 47.04%;
}
.vector-icon61,
.vector-icon62 {
  top: 57.59%;
  bottom: 41.29%;
}
.vector-icon62 {
  top: 63.34%;
  bottom: 35.55%;
}
.covidpersonal-hygiene-clean-t-icon,
.vector-icon63 {
  position: absolute;
  top: 554px;
  left: 920px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.vector-icon63 {
  height: 2.22%;
  width: 0.76%;
  top: 62.8%;
  right: 51.28%;
  bottom: 34.98%;
  left: 47.97%;
  max-width: 100%;
  max-height: 100%;
}
.o-que-est7,
.selecione-onde-fica7 {
  align-self: stretch;
  position: relative;
  font-weight: 800;
}
.selecione-onde-fica7 {
  font-size: var(--font-size-4xl);
  font-weight: 600;
}
.remdios15 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 104px;
  height: 31px;
  flex-shrink: 0;
}
.corpo-texto7,
.frame23 {
  display: flex;
  flex-direction: column;
}
.frame23 {
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  width: 257px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-56xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
}
.corpo-texto7 {
  position: absolute;
  top: 235px;
  left: 140px;
  width: 533px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  text-align: left;
  font-size: var(--font-size-73xl);
}
.remdios-para-boca {
  position: absolute;
  top: 73px;
  left: 40px;
}
.card-4-child15,
.frame-icon {
  position: absolute;
  top: 130.63px;
  left: 64px;
  width: 288px;
  height: 2.37px;
}
.frame-icon {
  top: 161px;
  left: 0;
  width: 89px;
  height: 40px;
  overflow: hidden;
}
.frame-child10 {
  position: relative;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-gainsboro-100);
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.vector-icon64 {
  position: relative;
  width: 22px;
  height: 20px;
  margin-top: -20px;
}
.frame24 {
  position: absolute;
  top: 221px;
  left: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.mingcutenose-line3 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -23px;
}
.frame25 {
  position: absolute;
  top: 281px;
  left: 0;
  width: 41px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 2px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.frame-child12,
.frame-icon1 {
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  height: 40px;
}
.frame-icon1 {
  position: absolute;
  top: 341px;
  left: 0;
  width: 57px;
  overflow: hidden;
}
.frame-child12 {
  position: relative;
  background-color: var(--color-gainsboro-100);
  width: 41px;
  cursor: pointer;
}
.vector-icon65 {
  position: relative;
  width: 20px;
  height: 25px;
  margin-top: -25px;
}
.frame26 {
  position: absolute;
  top: 401px;
  left: 0;
  width: 41px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.card-44 {
  position: absolute;
  top: 273px;
  left: 814px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-200);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 465px;
  font-size: var(--font-size-13xl);
}
.cabea-boca {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
