.fumaca-roxa-e-azul-em-preto-1-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.subtract-icon {
  position: relative;
  width: 40px;
  height: 40px;
}
.farma-express {
  position: relative;
  font-weight: 800;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.inicio {
  position: relative;
}
.inicio,
.span {
  font-weight: 500;
}
.participe-do-projeto-container {
  position: relative;
}
.frame1,
.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.menu {
  align-items: flex-start;
  gap: var(--gap-2xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-palanquin-dark);
}
.frame1 {
  width: 1158px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-92xl);
}
.pesquisar-e-login-child {
  position: relative;
  border-radius: var(--br-61xl);
  background-color: var(--color-gray-200);
  width: 257px;
  height: 40px;
  z-index: 0;
}
.vector-icon {
  position: relative;
  width: 40.04px;
  height: 40px;
  z-index: 1;
}
.vector-icon1,
.vector-icon2 {
  position: absolute;
  margin: 0 !important;
  height: 36.36%;
  width: 4.39%;
  top: 18.18%;
  right: 3.84%;
  bottom: 45.45%;
  left: 91.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.vector-icon2 {
  height: 53.75%;
  width: 6.48%;
  top: 23.13%;
  right: 25.72%;
  bottom: 23.13%;
  left: 67.8%;
  z-index: 3;
}
.frame,
.pesquisar-e-login {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pesquisar-e-login {
  backdrop-filter: blur(4px);
  align-items: flex-start;
  position: relative;
  gap: var(--gap-16xl);
}
.frame {
  margin: 0 !important;
  position: absolute;
  top: 79px;
  left: 140px;
  width: 1642.04px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  gap: var(--gap-133xl);
  z-index: 1;
}
.o-que-est {
  position: relative;
  font-weight: 800;
  display: inline-block;
  width: 533px;
  height: 198px;
  flex-shrink: 0;
  z-index: 0;
}
.blank-line {
  margin: 0;
}
.selecione-onde-fica-container {
  position: relative;
  font-size: var(--font-size-4xl);
  font-weight: 600;
  display: inline-block;
  width: 533px;
  height: 67px;
  flex-shrink: 0;
  z-index: 1;
}
.corpo-texto-child {
  position: relative;
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  width: 257px;
  height: 60px;
  z-index: 2;
}
.remdios1 {
  position: absolute;
  margin: 0 !important;
  top: 465px;
  left: 78px;
  font-size: var(--font-size-2xl);
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 104px;
  height: 31px;
  flex-shrink: 0;
  z-index: 3;
}
.corpo-texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: undefined;
  gap: var(--gap-73xl);
  width: 542px;
  margin-top: 33px;
}
.personagem-icon {
  border-radius: var(--br-23xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.frame2 {
  margin: 0 !important;
  position: absolute;
  top: 202px;
  left: 140px;
  width: 1653px;
  height: 542px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-973xl);
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-73xl);
}
.card-1-child {
  position: relative;
  width: 288px;
  height: 2.37px;
}
.mais-de-500-container {
  position: relative;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-1,
.card-3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray);
  backdrop-filter: blur(70px);
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) var(--padding-24xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.card-3 {
  left: 830px;
  padding: var(--padding-54xl) var(--padding-34xl);
  gap: var(--gap-smi);
}
.sempre-investindo-em-container {
  position: relative;
  font-size: var(--font-size-lg);
  text-align: left;
  display: inline-block;
  width: 319px;
}
.card-2,
.frame3 {
  position: absolute;
}
.card-2 {
  top: 0;
  left: 415px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray);
  backdrop-filter: blur(70px);
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) var(--padding-lgi);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frame3 {
  margin: 0 !important;
  top: 857px;
  left: 557px;
  width: 1224px;
  height: 269.37px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
  font-size: var(--font-size-17xl);
}
.principal-inicio {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1278px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .fumaca-roxa-e-azul-em-preto-1-icon {
    display: flex;
    align-self: stretch;
    width: auto;
    max-width: 1200px;
  }
}
