.fumaca-roxa-e-azul-em-preto-1-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.inicio6 {
  flex: 1;
  position: relative;
}
.inicio6,
.span6 {
  font-weight: 500;
}
.participe-do-projeto-container6 {
  flex: 1;
  position: relative;
}
.menu6 {
  position: absolute;
  top: 80px;
  left: 557px;
  width: 741px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-palanquin-dark);
}
.frame-child9,
.qualidade6 {
  position: relative;
}
.frame-child9 {
  width: 288px;
  height: 1px;
}
.frame21 {
  align-self: stretch;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.sempre-investindo-em6 {
  margin: 0;
}
.sempre-investindo-em-container6 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  text-align: left;
}
.card-26 {
  position: absolute;
  top: 857px;
  left: 972px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) var(--padding-lgi) var(--padding-54xl)
    var(--padding-35xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.card-1-child4,
.melhor-escolha6 {
  align-self: stretch;
  position: relative;
}
.card-1-child4 {
  max-width: 100%;
  overflow: hidden;
  height: 2.38px;
  flex-shrink: 0;
}
.mais-de-500-container6 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-16 {
  position: absolute;
  top: 857px;
  left: 557px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) var(--padding-24xl) var(--padding-54xl)
    var(--padding-44xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.pesquisar-e-login6 {
  position: absolute;
  top: 80px;
  left: 1450px;
  width: 330px;
  height: 40px;
}
.servio6 {
  position: absolute;
  top: 73px;
  left: 62px;
}
.comprometimento-e-gesto-container6 {
  position: absolute;
  top: 145px;
  left: 53px;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-3-child4,
.card-36 {
  position: absolute;
  top: 130.63px;
  left: 54px;
  width: 288px;
  height: 2.37px;
}
.card-36 {
  top: 857px;
  left: 1387px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 307px;
}
.subtract-icon6 {
  position: relative;
  width: 40px;
  height: 40px;
}
.farma-express6 {
  position: relative;
  font-weight: 800;
}
.logo6 {
  position: absolute;
  top: 79px;
  left: 140px;
  width: 306px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-16xl);
}
.personagem-icon6 {
  position: absolute;
  top: 0;
  left: 557px;
  width: 1972px;
  height: 1109px;
}
.o-que-est6,
.selecione-onde-fica6 {
  align-self: stretch;
  position: relative;
  font-weight: 800;
}
.selecione-onde-fica6 {
  font-size: var(--font-size-4xl);
  font-weight: 600;
}
.remdios13 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 104px;
  height: 31px;
  flex-shrink: 0;
}
.corpo-texto6,
.frame22 {
  display: flex;
  flex-direction: column;
}
.frame22 {
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  width: 257px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-56xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
}
.corpo-texto6 {
  position: absolute;
  top: 235px;
  left: 140px;
  width: 533px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  text-align: left;
  font-size: var(--font-size-73xl);
}
.p3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
