.fumaca-roxa-e-azul-em-preto-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.inicio9 {
  flex: 1;
  position: relative;
}
.inicio9,
.span9 {
  font-weight: 500;
}
.participe-do-projeto-container9 {
  flex: 1;
  position: relative;
}
.menu9 {
  position: absolute;
  top: 80px;
  left: 557px;
  width: 741px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-palanquin-dark);
}
.card-2-child1 {
  position: absolute;
  top: 130.63px;
  left: 54px;
  width: 288px;
  height: 2.37px;
}
.sempre-investindo-em9 {
  margin: 0;
}
.sempre-investindo-em-container9 {
  position: absolute;
  top: 147px;
  left: 57px;
  display: inline-block;
  width: 319px;
}
.card-29,
.qualidade9 {
  position: absolute;
  top: 73px;
  left: 57px;
  font-size: var(--font-size-17xl);
  text-align: center;
}
.card-29 {
  top: 857px;
  left: 972px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 307px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.card-1-child7,
.melhor-escolha9 {
  align-self: stretch;
  position: relative;
}
.card-1-child7 {
  max-width: 100%;
  overflow: hidden;
  height: 2.38px;
  flex-shrink: 0;
}
.mais-de-500-container9 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-19 {
  position: absolute;
  top: 857px;
  left: 557px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) var(--padding-24xl) var(--padding-54xl)
    var(--padding-44xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.pesquisar-e-login9 {
  position: absolute;
  top: 80px;
  left: 1450px;
  width: 330px;
  height: 40px;
}
.servio9 {
  position: absolute;
  top: 73px;
  left: 62px;
}
.comprometimento-e-gesto-container9 {
  position: absolute;
  top: 145px;
  left: 53px;
  font-size: var(--font-size-xl);
  text-align: left;
}
.card-39 {
  position: absolute;
  top: 857px;
  left: 1387px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkgray-100);
  backdrop-filter: blur(70px);
  width: 395px;
  height: 307px;
}
.subtract-icon9 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 40px;
}
.farma-express9 {
  flex: 1;
  position: relative;
  font-weight: 800;
}
.logo9 {
  position: absolute;
  top: 79px;
  left: 140px;
  width: 306px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-16xl);
}
.personagem-icon9,
.vector-icon66 {
  position: absolute;
  top: 0;
  left: 557px;
  width: 1972px;
  height: 1109px;
}
.vector-icon66 {
  height: 2.27%;
  width: 1.28%;
  top: 22.87%;
  right: 11.54%;
  bottom: 74.86%;
  left: 87.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.o-que-est9,
.selecione-onde-fica9 {
  align-self: stretch;
  position: relative;
  font-weight: 800;
}
.selecione-onde-fica9 {
  font-size: var(--font-size-4xl);
  font-weight: 600;
}
.remdios19 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 104px;
  height: 31px;
  flex-shrink: 0;
}
.corpo-texto9,
.frame28 {
  display: flex;
  flex-direction: column;
}
.frame28 {
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  width: 257px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-56xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
}
.corpo-texto9 {
  position: absolute;
  top: 235px;
  left: 140px;
  width: 533px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  text-align: left;
  font-size: var(--font-size-73xl);
}
.p4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
