.fundo-branco-sujo-de-cimento-n-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 4032px;
  height: 3024px;
  object-fit: cover;
}
.remedios-child8 {
  position: absolute;
  top: 193px;
  left: 118px;
  border-radius: var(--br-36xl);
  background-color: var(--color-gainsboro-200);
  box-shadow: 20px 4px 90px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(90px);
  width: 707px;
  height: 628px;
}
.generico-tarja-preta-pacheco-2-icon {
  position: absolute;
  top: 184px;
  left: 224px;
  width: 504px;
  height: 504px;
  object-fit: cover;
}
.inicio19,
.remdios32,
.sobre-ns19 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.remdios32,
.sobre-ns19 {
  left: 82px;
}
.sobre-ns19 {
  left: 213px;
}
.depoimentos19 {
  position: absolute;
  top: 0;
  left: 343px;
}
.depoimentos19,
.span19 {
  font-weight: 500;
}
.menu19,
.participe-do-projeto-container19 {
  position: absolute;
  top: 0;
  left: 513px;
}
.menu19 {
  top: 80px;
  left: 557px;
  width: 741px;
  height: 43px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-palanquin-dark);
}
.pesquisar-e-login19 {
  position: absolute;
  top: 80px;
  left: 1450px;
  width: 330px;
  height: 40px;
}
.farma-express19 {
  position: absolute;
  top: 0;
  left: 50px;
  font-weight: 800;
}
.subtract-icon19 {
  position: relative;
  width: 40px;
  height: 40px;
}
.logo19 {
  position: absolute;
  top: 79px;
  left: 140px;
  width: 306px;
  height: 42px;
  font-size: var(--font-size-16xl);
}
.rectangle-icon {
  position: absolute;
  top: 568px;
  left: 548px;
  width: 267px;
  height: 267px;
  object-fit: cover;
}
.generico-tarja-preta-pacheco-4-icon,
.generico-tarja-preta-pacheco-5-icon {
  position: absolute;
  top: 568px;
  left: 404px;
  width: 267px;
  height: 267px;
  object-fit: cover;
}
.generico-tarja-preta-pacheco-5-icon {
  left: 260px;
}
.generico-tarja-preta-pacheco-6-icon1 {
  position: absolute;
  top: 567.6px;
  left: 115.6px;
  width: 267.8px;
  height: 267.8px;
  object-fit: cover;
}
.paracetamol4 {
  position: absolute;
  top: 243px;
  left: 923px;
  font-size: var(--font-size-31xl);
}
.paracetamol-um {
  position: absolute;
  top: 334px;
  left: 923px;
  font-weight: 500;
  color: var(--color-whitesmoke);
  text-align: left;
  display: inline-block;
  width: 675px;
  height: 544px;
}
.remedios-child9 {
  position: absolute;
  top: 737px;
  left: 1127px;
  border-radius: var(--br-41xl);
  background-color: var(--color-gainsboro-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(70px);
  width: 547px;
  height: 107px;
}
.solicitar6 {
  position: absolute;
  top: 773px;
  left: 1342px;
  font-weight: 500;
  text-align: left;
}
.remedios6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
