.fundo-branco-sujo-de-cimento-n-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 4032px;
  height: 3024px;
  object-fit: cover;
}
.remedios-child4 {
  position: absolute;
  top: 216px;
  left: 74px;
  border-radius: var(--br-36xl);
  background-color: var(--color-gainsboro-200);
  box-shadow: 20px 4px 90px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(90px);
  width: 707px;
  height: 628px;
}
.inicio17,
.remdios30,
.sobre-ns17 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.remdios30,
.sobre-ns17 {
  left: 82px;
}
.sobre-ns17 {
  left: 213px;
}
.depoimentos17 {
  position: absolute;
  top: 0;
  left: 343px;
}
.depoimentos17,
.span17 {
  font-weight: 500;
}
.menu17,
.participe-do-projeto-container17 {
  position: absolute;
  top: 0;
  left: 513px;
}
.menu17 {
  top: 80px;
  left: 557px;
  width: 741px;
  height: 43px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-palanquin-dark);
}
.pesquisar-e-login17 {
  position: absolute;
  top: 80px;
  left: 1450px;
  width: 330px;
  height: 40px;
}
.farma-express17 {
  position: absolute;
  top: 0;
  left: 50px;
  font-weight: 800;
}
.subtract-icon17 {
  position: relative;
  width: 40px;
  height: 40px;
}
.logo17 {
  position: absolute;
  top: 79px;
  left: 140px;
  width: 306px;
  height: 42px;
  font-size: var(--font-size-16xl);
}
.dipirona2 {
  position: absolute;
  top: 243px;
  left: 973px;
  font-size: var(--font-size-31xl);
}
.dipirona-sdica {
  position: absolute;
  top: 334px;
  left: 923px;
  font-weight: 500;
  color: var(--color-whitesmoke);
  text-align: left;
  display: inline-block;
  width: 675px;
  height: 544px;
}
.remedios-child5 {
  position: absolute;
  top: 737px;
  left: 1127px;
  border-radius: var(--br-41xl);
  background-color: var(--color-gainsboro-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(70px);
  width: 547px;
  height: 107px;
}
.solicitar4 {
  position: absolute;
  top: 773px;
  left: 1342px;
  font-weight: 500;
  text-align: left;
}
.generico-tarja-preta-pacheco-7-icon4 {
  position: absolute;
  top: 184px;
  left: 184px;
  width: 504px;
  height: 504px;
  object-fit: cover;
}
.generico-tarja-preta-pacheco-6-icon,
.generico-tarja-preta-pacheco-8-icon {
  position: absolute;
  top: 625px;
  left: 64px;
  width: 267.8px;
  height: 267.8px;
  object-fit: cover;
}
.generico-tarja-preta-pacheco-8-icon {
  top: 628px;
  left: 204px;
}
.generico-tarja-preta-pacheco-1-icon14,
.generico-tarja-preta-pacheco-9-icon {
  position: absolute;
  top: 629px;
  left: 354px;
  width: 267.8px;
  height: 267.8px;
  object-fit: cover;
}
.generico-tarja-preta-pacheco-1-icon14 {
  top: 624px;
  left: 504px;
}
.remedios4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
