.fundo-branco-sujo-de-cimento-n-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 4032px;
  height: 3024px;
  object-fit: cover;
}
.remedios-child2 {
  position: absolute;
  top: 216px;
  left: 74px;
  border-radius: var(--br-36xl);
  background-color: var(--color-gainsboro-200);
  box-shadow: 20px 4px 90px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(90px);
  width: 707px;
  height: 628px;
}
.inicio16,
.remdios29,
.sobre-ns16 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.remdios29,
.sobre-ns16 {
  left: 82px;
}
.sobre-ns16 {
  left: 213px;
}
.depoimentos16 {
  position: absolute;
  top: 0;
  left: 343px;
}
.depoimentos16,
.span16 {
  font-weight: 500;
}
.menu16,
.participe-do-projeto-container16 {
  position: absolute;
  top: 0;
  left: 513px;
}
.menu16 {
  top: 80px;
  left: 557px;
  width: 741px;
  height: 43px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-palanquin-dark);
}
.pesquisar-e-login16 {
  position: absolute;
  top: 80px;
  left: 1450px;
  width: 330px;
  height: 40px;
}
.farma-express16 {
  position: absolute;
  top: 0;
  left: 50px;
  font-weight: 800;
}
.subtract-icon16 {
  position: relative;
  width: 40px;
  height: 40px;
}
.logo16 {
  position: absolute;
  top: 79px;
  left: 140px;
  width: 306px;
  height: 42px;
  font-size: var(--font-size-16xl);
}
.triptanos2 {
  position: absolute;
  top: 243px;
  left: 959px;
  font-size: var(--font-size-31xl);
}
.triptanos-so-uma {
  position: absolute;
  top: 334px;
  left: 923px;
  font-weight: 500;
  color: var(--color-whitesmoke);
  text-align: left;
  display: inline-block;
  width: 675px;
  height: 544px;
}
.remedios-child3 {
  position: absolute;
  top: 737px;
  left: 1127px;
  border-radius: var(--br-41xl);
  background-color: var(--color-gainsboro-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(70px);
  width: 547px;
  height: 107px;
}
.solicitar3 {
  position: absolute;
  top: 773px;
  left: 1342px;
  font-weight: 500;
  text-align: left;
}
.generico-tarja-preta-pacheco-7-icon3 {
  position: absolute;
  top: 184px;
  left: 196px;
  width: 504px;
  height: 504px;
  object-fit: cover;
}
.generico-tarja-preta-pacheco-1-icon10,
.generico-tarja-preta-pacheco-1-icon11 {
  position: absolute;
  top: 571px;
  left: 115px;
  width: 267.8px;
  height: 267.8px;
  object-fit: cover;
}
.generico-tarja-preta-pacheco-1-icon11 {
  top: 567px;
  left: 255px;
}
.generico-tarja-preta-pacheco-1-icon12,
.generico-tarja-preta-pacheco-1-icon13 {
  position: absolute;
  top: 567px;
  left: 395px;
  width: 267.8px;
  height: 267.8px;
  object-fit: cover;
}
.generico-tarja-preta-pacheco-1-icon13 {
  top: 571px;
  left: 525px;
}
.remedios3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
