.fundo-branco-sujo-de-cimento-n-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 4032px;
  height: 3024px;
  object-fit: cover;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-36xl);
  background-color: var(--color-gainsboro-200);
  box-shadow: 20px 4px 90px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(90px);
  width: 707px;
  height: 628px;
}
.generico-tarja-preta-pacheco-1-icon6,
.generico-tarja-preta-pacheco-1-icon7 {
  position: absolute;
  top: 353px;
  left: 454px;
  width: 267.8px;
  height: 267.8px;
  object-fit: cover;
}
.generico-tarja-preta-pacheco-1-icon7 {
  top: 350px;
  left: 215px;
}
.o-sotalol {
  position: absolute;
  top: 356px;
  left: 904px;
  font-weight: 500;
  color: var(--color-whitesmoke);
  display: inline-block;
  width: 675px;
  height: 544px;
}
.group-item {
  position: absolute;
  top: 737px;
  left: 1127px;
  border-radius: var(--br-41xl);
  background-color: var(--color-gainsboro-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(70px);
  width: 547px;
  height: 107px;
}
.solicitar2 {
  position: absolute;
  top: 773px;
  left: 1342px;
  font-weight: 500;
}
.sotalol {
  position: absolute;
  top: 243px;
  left: 993px;
  font-size: var(--font-size-31xl);
  text-align: center;
}
.generico-tarja-preta-pacheco-7-icon2 {
  position: absolute;
  top: -18px;
  left: 196px;
  width: 504px;
  height: 504px;
  object-fit: cover;
}
.generico-tarja-preta-pacheco-1-icon8 {
  position: absolute;
  top: 347px;
  left: 100px;
  width: 267.8px;
  height: 267.8px;
  object-fit: cover;
}
.rectangle-parent {
  position: absolute;
  top: 216px;
  left: 74px;
  width: 1674px;
  height: 900px;
  text-align: left;
}
.generico-tarja-preta-pacheco-1-icon9 {
  position: relative;
  width: 267.8px;
  height: 267.8px;
  object-fit: cover;
}
.inicio15 {
  position: relative;
  margin-top: -43px;
}
.inicio15,
.span15 {
  font-weight: 500;
}
.participe-do-projeto-container15 {
  position: relative;
  margin-top: -43px;
}
.menu15 {
  position: absolute;
  top: 80px;
  left: 302px;
  width: 996px;
  height: 655.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-5xl);
  font-family: var(--font-palanquin-dark);
}
.pesquisar-e-login15 {
  position: absolute;
  top: 80px;
  left: 1450px;
  width: 330px;
  height: 40px;
}
.subtract-icon15 {
  position: relative;
  width: 40px;
  height: 40px;
}
.farma-express15 {
  position: relative;
  font-weight: 800;
}
.logo15 {
  position: absolute;
  top: 79px;
  left: 140px;
  width: 306px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-16xl);
}
.remedios2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
